
.showTable {
  background-color: #FFFFFF ;
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0.5rem;
}

.itemsCol {
  padding: 1rem;
  margin-left: 1rem;
}

.itemsRow {
  padding: 1rem;
}

.optionsRow {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.a {
  margin: 1rem;
  padding: 0.4rem;
}